<!-- Footer -->
<footer role="contentinfo" class="page-section footer bg-otbx-container light-content pb-30 pt-0">
    <div class="full-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div id="block-otbx-contactinformation">
                    <div class="text-content clearfix">
                        <p>Uganda Minerals & Resources Initiative<br>
                        3rd Floor, Kalooli Lwanga Towers<br>
                        Plot 83-85, Ntinda Road<br>
                        Kampala, Uganda</p>
                        <p>+256 39 2000152</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="block-otbx-followus-2">
                    <h2>Follow us</h2>
                    <div class="text-content clearfix">
                        <div id="block-otbx-followus">
                            <ul>
                                <li><a class="facebook" href="#" onclick="return false;">Facebook</a></li>
                                <li><a class="instagram" href="#" onclick="return false;">Instagram</a></li>
                                <li><a class="twitter" href="#" onclick="return false;">X</a></li>
                                <li><a class="linkedin" href="#" onclick="return false;">LinkedIn</a></li>
                                <li><a class="youtube" href="#" onclick="return false;">YouTube</a></li>
                                <li><a class="tiktok" href="#" onclick="return false;">TikTok</a></li>
                                <li><a class="medium" href="#" onclick="return false;">Medium</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="block-otbx-mission">
                    <div class="text-content clearfix">
                        <p><strong>Empowering Uganda’s future through responsible minerals, land, and energy resource development. We support sustainable growth, community engagement, and value addition for a prosperous nation.</strong></p>
                    </div>
                </div>
                <div id="block-otbx-disclaimer">
                    <div class="text-content clearfix">
                        <p>All our minerals and resources programs are free to access. Beware of anyone asking for payment on our behalf. For concerns, <strong>call Toll-Free 0800 376 376</strong>.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <hr>

        <!-- Footer Text -->
        <div class="row">
            <div class="col-md-10 text-center">
                <div id="block-otbx-copyrightinformation">
                    <div class="text-content clearfix">
                        <p>© 2025 Uganda Minerals & Resources Initiative. All rights reserved.</p>
                        <p class="small">Championing sustainable minerals, land, and energy resource development for Uganda and Africa.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2 clearfix">
                <!-- Back to Top Link -->
                <div class="local-scroll float-end mt-n20 mt-sm-10">
                    <a href="#top" class="link-to-top">
                        <i class="mi-arrow-up size-24"></i>
                        <span class="visually-hidden">Scroll to top</span>
                    </a>
                </div>
                <!-- End Back to Top Link -->
            </div>
        </div>
        <!-- End Footer Text -->
    </div>
</footer>
<!-- End Footer -->